<div class="container">

    <h1>Notícias</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Crivella diz que isolamento social deve ser mantido em abril
                </div>
                <div class="card-body">
                    <h5 class="card-title">Prefeito deve editar decreto que limita hora de trabalho de algumas categorias na cidade do Rio</h5>
                    <img class="img-fluid" alt="Responsive image" src="https://ogimg.infoglobo.com.br/in/24300826-2e0-b1f/FT1086A/652/87471602_RI-Rio-de-Janeiro-12-03-2020-Prefeito-Marcelo-Crivella-junto-com-o-Ministro-da-Saude-Luiz-H.jpg">
                    <p class="card-text">RIO Em transmissão por uma rede social da prefeitura, o prefeito Marcelo Crivella disse na noite deste domingo que depois de uma reunião de duas horas com a comunidade científica houve consenso que as medidas restritivas devem ser
                        mantidas ao longo deste mês.</p>
                    <a href="#" class="btn btn-primary">Veja Mais</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Crivella diz que isolamento social deve ser mantido em abril
                </div>
                <div class="card-body">
                    <h5 class="card-title">Prefeito deve editar decreto que limita hora de trabalho de algumas categorias na cidade do Rio</h5>
                    <img class="img-fluid" alt="Responsive image" src="https://ogimg.infoglobo.com.br/in/24300826-2e0-b1f/FT1086A/652/87471602_RI-Rio-de-Janeiro-12-03-2020-Prefeito-Marcelo-Crivella-junto-com-o-Ministro-da-Saude-Luiz-H.jpg">
                    <p class="card-text">RIO Em transmissão por uma rede social da prefeitura, o prefeito Marcelo Crivella disse na noite deste domingo que depois de uma reunião de duas horas com a comunidade científica houve consenso que as medidas restritivas devem ser
                        mantidas ao longo deste mês.</p>
                    <a href="#" class="btn btn-primary">Veja Mais</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Crivella diz que isolamento social deve ser mantido em abril</h4>
                </div>
                <div class="card-body">
                    <h6>Prefeito deve editar decreto que limita hora de trabalho de algumas categorias na cidade do Rio</h6>
                    <img class="img-fluid" alt="Responsive image" src="https://ogimg.infoglobo.com.br/in/24300826-2e0-b1f/FT1086A/652/87471602_RI-Rio-de-Janeiro-12-03-2020-Prefeito-Marcelo-Crivella-junto-com-o-Ministro-da-Saude-Luiz-H.jpg">
                    <p class="card-text">RIO Em transmissão por uma rede social da prefeitura, o prefeito Marcelo Crivella disse na noite deste domingo que depois de uma reunião de duas horas com a comunidade científica houve consenso que as medidas restritivas devem ser
                        mantidas ao longo deste mês.</p>
                    <a href="#" class="btn btn-primary">Veja Mais</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Crivella diz que isolamento social deve ser mantido em abril
                </div>
                <div class="card-body">
                    <h5 class="card-title">Prefeito deve editar decreto que limita hora de trabalho de algumas categorias na cidade do Rio</h5>
                    <img class="img-fluid" alt="Responsive image" src="https://ogimg.infoglobo.com.br/in/24300826-2e0-b1f/FT1086A/652/87471602_RI-Rio-de-Janeiro-12-03-2020-Prefeito-Marcelo-Crivella-junto-com-o-Ministro-da-Saude-Luiz-H.jpg">
                    <p class="card-text">RIO Em transmissão por uma rede social da prefeitura, o prefeito Marcelo Crivella disse na noite deste domingo que depois de uma reunião de duas horas com a comunidade científica houve consenso que as medidas restritivas devem ser
                        mantidas ao longo deste mês.</p>
                    <a href="#" class="btn btn-primary">Veja Mais</a>
                </div>
            </div>
        </div>
    </div>

</div>