<div class="container">
    <div class="row">
        <ng-container *ngFor="let post of posts">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4" style="align-items:stretch" *ngIf="post.urlToImage">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{ post.title }}</h4>
                    </div>
                    <img class="img-fluid" alt="Responsive image" [src]="post.urlToImage">
                    <div class="card-body">
                        <p>{{ post.publishedAt }}<br> <span *ngIf="post.author">Por: {{ post.author }}</span></p>

                        <h5>{{ post.description }}</h5>
                        <p class="card-text">{{ post.content }}</p>
                        <a [href]="post.url" target="_blank" class="btn btn-light">Veja Mais</a>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>